html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin-top: 5rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}